@import "_settings.css";
@import "_cards.css";

body{
	background-color: $gray-lite;
	color: #333;
}

article{
	margin-top: 25px;
	.list_wrapper{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.author{
		color: #9e9e9e;
	}
	.category{
		color: #FF5722;
		text-transform: uppercase;
	}
	.summary{
		margin-top: 8px;
		margin-bottom: 8px;
		padding-top: 16px;
		font-size: 16px;
	}
	.article-img{
		max-width: 100%;
	}
}